[user]
	email = hey@jasonaa.me
	name = Jason Antwi-Appah
	signingkey = E21BB2506A8C5C65F3B317285F28B3C0D450E898
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[commit]
	gpgsign = true
[tag]
	gpgSign = true
[pull]
	rebase = true
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
[gpg]
	program = /usr/local/bin/gpg
[init]
	defaultBranch = main
