[user]
	email = hey@jasonaa.me
	name = Jason Antwi-Appah
	signingkey = 3DA648F8
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[commit]
	gpgsign = true
[tag]
	gpgSign = true
[pull]
	rebase = true
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
[gpg]
	program = /opt/homebrew/bin/gpg
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
